{% extends "geral/base.html" %}
{% block content %}
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Usuario e senha</strong> não conferem, tente novamente.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Você precisa estar <strong>Logado</strong> para acessar essa pagina.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
{% endif %}
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="card bg-warning text-white">
            <div class="card-body">{{ message }}</div>
        </div>
        {% else %}
        <div class="card bg-success text-white">
            <div class="card-body">{{ message }}</div>
        </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container mt-4">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-md-5 mx-auto">
                <label for="id_username">Usuário:</label>
                <input type="text" name="username" class="form-control" placeholder="Entre com o Usuário" id="id_username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 mx-auto">
                <label for="id_password">Senha:</label>
                <input type="password" name="password" class="form-control" placeholder="Entre com a senha" id="id_password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5 mx-auto">
                <button type="submit" class="btn btn-primary">Entrar</button>
                <div class="form-group">
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}">Esqueceu a Senha?</a></p>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}