<!DOCTYPE html>
<html>
{% load static %}
<head>
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="URL='{% url 'home' %}'"/>
    {% else %}
    <meta http-equiv="refresh" content="URL='{% url 'login' %}'"/>
    {% endif%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ong</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
</head>

<body>
<!-- Start: Login Form Dark -->
<div class="login-dark">
    <form class="border rounded border-info shadow-lg" data-toggle="tooltip" data-bs-tooltip="" method="post" style="background-color: rgb(255,255,255);margin: 0px;margin-top: -180px;padding-top: 40px;">
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" style="color: rgb(0,0,0);"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Resetar Senha</button></div>
      </form>
    </div>
    <!-- End: Login Form Dark -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
</body>

</html>