{% extends "geral/base_main.html" %}
{% block content %}
    <div class="container-fluid p-3">
    <div class="card" style="width:250px">
        <img class="card-img-top" src="{{ user.profile.image.url }}" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">{{ user.username }}</h4>
            <p class="card-text">{{ user.email }}</p>
            <a href="#" class="btn btn-primary">Alterar Conta</a>
        </div>
    </div>

    </div>
{% endblock content %}